{% extends 'html/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container mt-4 p-2">
	<div class="jumbotron">
		<h4>Welcome to this Site.</h4>

		{% if request.user.is_superuser %}
		<h5>Role is Admin</h5>
		{% else %}
		{% if request.user.role_type == "0" %}
		<h5>Role is Guest</h5>
		{% elif request.user.role_type == "1" %}
		{% if request.user.desg == "0" %}
		<h5>Role is Recruiter</h5>
		{% elif request.user.desg == "1" %}
		<h5>Role is Super Recruiter</h5>
		{% endif %}
		{% elif request.user.role_type == "2" %}
		{% if request.user.desg == "0" %}
		<h5>Role is Applicant</h5>
		{% elif request.user.desg == "1" %}
		<h5>Role is Super Applicant</h5>
		{% endif %}
		{% endif %}
		{% endif %}
	</div>
</div>
{% endblock %}