{% extends 'html/base.html' %}
{% block title %}Update to Membership{% endblock %}
{% block content %}
<div class="container mt-4">
	<div class="card col-md-5 mx-auto shadow-lg">
		<div class="card-body">
			<h4>Update to Membership</h4>
			<form method="post">
				{% csrf_token %}
				{% for i in t %}
					{{i}}
				{% endfor %}
				<div class="row my-2">
					<div class="col">
						<a href="{% url 'apf' %}" class="btn btn-outline-info form-control">Back to profile</a>
					</div>
					<div class="col">
						<input type="submit" value="Update" class="btn btn-outline-success form-control">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}